@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

a {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  color: inherit;
  /* Додайте інші стилі, які ви бажаєте обнулити */
  /* Обнулення стилів при наведенні */
  /* Обнулення стилів після натискання */
}
a:hover {
  /* Додайте обнулення стилів, які ви бажаєте виконати при наведенні */
  text-decoration: none;
  /* Додайте інші стилі для обнулення */
}
a:active {
  /* Додайте обнулення стилів, які ви бажаєте виконати після натискання */
  text-decoration: none;
  /* Додайте інші стилі для обнулення */
}

h1 {
  font-size: 2em;
  margin: 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

body header {
  background-color: white;
  display: flex;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  user-select: none;
}
body header nav {
  flex: 1;
  display: flex;
  justify-content: center;
}
body header nav .nav_link_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}
body header nav .nav_link_container:hover .nav_link_pointer {
  background-color: black;
}
body header nav .nav_link_container .nav_links {
  color: black;
}
body header nav .nav_link_container .nav_link_pointer {
  width: 10px;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease; /* Плавний перехід */
}
body header nav .nav_link_container .active {
  background-color: black;
}
body header .logo {
  display: block;
}

body footer {
  position: relative;
  height: 60px;
  background-color: #1D1D1D;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10% 0px 10%;
}
body footer .footer_links {
  color: white;
  text-decoration: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
body footer .footer_leftside {
  display: flex;
}
body footer .footer_leftside .footer_links {
  margin-right: 24px;
}
body footer .footer_rightside {
  display: block;
}

body {
  min-height: 100vh;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
}
body .main {
  min-height: calc(100vh - 60px - 112px);
}
body .test_line {
  width: 10px;
  height: 1200px;
  background-color: red;
}
body .test_text {
  color: white;
}/*# sourceMappingURL=main.css.map */